body {
    max-width: 100%;
    max-height: 100vh;
    text-align: center;
    background-color: #15191B;
}

#container {
    position: relative;
    width: 40%;
    margin: 0 auto;
}

.header-text {
    color: #fff;
    margin-top: 2rem;
    font-family: 'Press Start 2P', cursive;
    background-color: purple;
}

.eyes,
.eyes img {
    position: absolute;
    border-radius: 50%;
    filter: brightness(1.2);
}

.eye1 {
    top: -10.3rem;
    left: 12rem;
    width: 30px;
    height: 30px;
}

.eye2 {
    top: -10.7rem;
    left: 14.9rem;
    width: 30px;
    height: 30px;
}

.eye3 {
    top: -16.4rem;
    left: 18.2rem;
    width: 34px;
    height: 34px;
}

.eye4 {
    top: -16.5rem;
    left: 20.9rem;
    width: 34px;
    height: 34px;
}

.logo-text {
    width: 70%;
    margin: 0 auto;
}

.logo-text img {
    width: 100%;
}